

*{
    margin: 0px;
    padding: 0px;
}




body{
    /* width: 100vh; */
    height: 100vh;

    background-image: url(imgs/fondo_principal.png);
    background-color: rgb(21, 21, 21);
    background-size: cover;

    background-attachment: fixed;
    background-position: center;


    overflow: hidden;
    
}





header{
    height: 64px;

    background-color: rgba(255, 255, 0, 0.208);
    transition: all 0.5s ease-in-out;

}


main{
    height: 448px;

    display: grid;
    justify-items: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
}

footer{
    justify-items: center;
    height: 20vh;
    transition: all 0.5s ease-in-out;
}







#principal_box{
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid rgba(255, 255, 0, 0.208);

    margin: 24px;

    padding: 12px;
    box-sizing: border-box;
}

#img_jugador{
    width: 125px;
    
}
th, td {
  border: 1px solid black;
  width: 60px;
  height: 25px;
}


#item_container{
    width: 800px;
    height: 80px;
    display: flex;
    margin: 12px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid rgba(0, 255, 166, 0.208);
    justify-content: center;
    align-items: center;
}
.item_box{
    width: 60px;
    height: 60px;
    justify-content: center;

    border: 2px solid black;
    margin: 8px;

    align-items: center;   
}

.item_img{
    width: 60px;
    justify-self: center;
    
    transition: 0.2s linear;
}

.item_box:hover >:only-child{
    transform: scale(1.4) rotateY(180deg) rotateX(180deg) rotateZ(180deg);

}






.escena_secundaria{
    width: 800px;
    height: 600px;
    justify-self: center;

    border: 4px solid black;
    border-radius: 8px;

    background-color: rgba(255, 247, 0, 0.316);
    position: absolute;

    display: none;
    padding: 28px;
    align-self: anchor-center; 
}



    /* - MERCADO - */

.mercado{
    /* width: 800px;
    height: 600px;
    justify-self: center;

    border: 4px solid black;
    border-radius: 8px;

    background-color: rgba(0, 255, 21, 0.316);
    position: absolute;

    display: none;
    padding: 28px;
    align-self: anchor-center; */
    background-color: rgba(0, 255, 21, 0.316);

}




#mercado_head{
    height: 67px;
    background-color: #0000ff38;
}

#mercado_body{
    height: 344px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product_box{
    width: 144px;
    height: 144px;
    display: grid;
    justify-items: center;
    align-items: center;

    background-color: rgba(255, 166, 0, 0.25);
    border: 2px solid black;
    box-sizing: border-box;

    transition: 0.5s linear ease-in-out;
}

.añadido{
    background-color: rgba(255, 0, 0, 0.25);
    transform: rotateZ(360deg);
}
.img_producto{
    width: 75px;
}

#btn_mercado_on{
    width: 60px;
    height: 60px;
    background-image: url(imgs/Mochila.webp);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: #830bd25e;

}



    /* - BATALLA - */

/* .batalla{
    width: 800px;
    height: 600px;
    justify-self: center;

    border: 4px solid black;
    border-radius: 8px;

    background-color: rgba(255, 247, 0, 0.316);
    position: absolute;

    display: none;
    padding: 28px;
    align-self: anchor-center;
} */

#batalla_head{
    height: 64px;

}

#enemigos_container{
    height: 536px;    

    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#batalla_body{
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}





.enemigo_box{
    width: 160px;
    height: 256px;
    display: grid;

    background-color: rgba(255, 0, 60, 0.25);

    transition: 0.2s linear;
}

.desafiado{
    transition: 0.2s linear;
    background-color: rgba(0, 0, 0, 0.25);
}

.img_enemigo{
    height: 75px;
}

.img_arma_enemigo{
    width: 50px;
}

    /* Escena Combate */



.combate{
    /* width: 800px;
    height: 600px;
    justify-self: center;

    border: 4px solid black;
    border-radius: 8px;

    background-color: rgba(255, 247, 0, 0.316);
    position: absolute;

    display: none;
    padding: 28px;
    align-self: anchor-center;  */
}

#contenedor_entidades{
    height: 70%;
    background-color: rgba(255, 0, 0, 0.25);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#estadisticas{
    height: 30%;
    background-color: #0000ff40;
    justify-items: center;
    display: grid;
    align-items: center;
}



.img_entidad{
    width: 256px;
}

    /* Escena Final */







@keyframes animacion_entrada_mercado {

    from{
        scale: calc(0.8);
        opacity: 0;
    }
    to{
        scale: calc(1);
        opacity: 1;

    }
}

@keyframes animacion_salida_mercado {
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        width: 800px;
        height: 600px;
        opacity: 1;
    }
    to{
        transform: rotateX(45deg) rotateY(270deg) rotateZ(110deg);
        width: 1800px;
        height: 1350px;
        /* display: none; */
        /* font-display: none; */
        opacity: 0.1;
        

    }


}

@keyframes salida_eprincipal{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
    }
}
@keyframes entrada_eprincipal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes salida_alternativa {
    from{
        transform: rotateZ(0deg) rotateY(0deg);
        opacity: 1;
    }
    to{
        transform: rotateZ(45deg) rotateY(90deg);
        opacity: 0;
    }
}

@keyframes entrada_alternativa{
    from{
        transform: rotateZ(315deg) rotateY(270deg);
        opacity: 0;
    }
    to{
        transform: rotateZ(360deg) rotateY(360deg);
        opacity: 1;
    }
}


.on{
    display: block;
    animation: animacion_entrada_mercado 1s cubic-bezier(1, -0.01, 0, 1);

}

.salida{
    opacity: 1;
    display: block;
    animation: animacion_salida_mercado 1s ease-in-out forwards;
}


.salida_alternativa{
    animation: salida_alternativa 0.5s ease-in-out; 
}


.entrada_alternativa{
    display: block;
    animation: entrada_alternativa 0.5s ease-in-out;
}

.off{
    width: 0px;
    height: 0px;
    display: none;
    /* animation: animacion_salida_mercado 1s ease-in; */
}
.off > *{
    opacity: 0;
    display:none;
}

.ocultando{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.oculto{
    display: none;
}



@keyframes error_compra {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0deg); }
}

.error_compra{
    animation: error_compra 0.2s cubic-bezier(0.83, 0.35, 0.62, 1.1);
}
