

*{
    margin: 0px;
    padding: 0px;
}


#img_jugador{
    width: 125px;
    
}
th, td {
  border: 1px solid black;
  width: 60px;
  height: 25px;
}

body{
    /* width: 100vh; */
    height: 100vh;

    background-image: url(imgs/fondo_principal.png);
    background-color: rgb(21, 21, 21);
    background-size: cover;

    background-attachment: fixed;
    background-position: center;


    overflow: hidden;
    
}





header{
    height: 64px;

    background-color: rgba(255, 255, 0, 0.208);
    transition: all 0.5s ease-in-out;

}


main{
    height: 448px;

    display: grid;
    justify-items: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
}

footer{
    justify-items: center;
    height: 20vh;
    transition: all 0.5s ease-in-out;
}







#principal_box{
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid rgba(255, 255, 0, 0.208);

    margin: 24px;

    padding: 12px;
    box-sizing: border-box;
}




#item_container{
    width: 800px;
    height: 80px;
    display: flex;
    margin: 12px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid rgba(0, 255, 166, 0.208);
    justify-content: center;
    align-items: center;
}
.item_box{
    width: 60px;
    height: 60px;
    justify-content: center;

    border: 2px solid black;
    margin: 8px;

    align-items: center;
    /* background  */

    
}



.item_img{
    width: 60px;
    justify-self: center;
    
    transition: 0.2s linear;
}
/* .item_ */

.item_box:hover >:only-child{
    transform: scale(1.4) rotateY(180deg) rotateX(180deg) rotateZ(180deg);

}







/* #mercado_box{
    width: 0px;
    height: 0px;
    justify-self: center;

    border: 2px solid black;
    border-radius: 8px;

    background-color: rgba(0, 255, 21, 0.316);
    position: absolute;

    padding: 16px;
    box-sizing: border-box;
} */

.mercado{
    width: 800px;
    height: 600px;
    justify-self: center;

    border: 4px solid black;
    border-radius: 8px;

    background-color: rgba(0, 255, 21, 0.316);
    position: absolute;

    display: none;
    padding: 28px;
    align-self: anchor-center;
}


.on{
    display: block;
    animation: animacion_entrada_mercado 1s cubic-bezier(1, -0.01, 0, 1);

}

.salida{
    opacity: 1;
    display: block;
    animation: animacion_salida_mercado 1s ease-in-out forwards;
}

.off{
    width: 0px;
    height: 0px;
    display: none;
    /* animation: animacion_salida_mercado 1s ease-in; */
}
.off > *{
    opacity: 0;
    display:none;
}

#mercado_head{
    height: 67px;
    background-color: #0000ff38;
    /* box-sizing: border-box; */
}

#mercado_body{
    height: 344px;
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    /* box-sizing: border-box; */
}

.product_box{
    width: 144px;
    height: 144px;
    display: grid;
    justify-items: center;
    align-items: center;

    background-color: rgba(255, 166, 0, 0.25);
    border: 2px solid black;
    box-sizing: border-box;
}







.img_producto{
    width: 75px;
}

#btn_mercado_on{
    width: 60px;
    height: 60px;
    background-image: url(imgs/Mochila.webp);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: #830bd25e;

}






@keyframes animacion_entrada_mercado {

    from{
        scale: calc(0.8);
        opacity: 0;
    }
    to{
        scale: calc(1);
        opacity: 1;

    }
    /* 0%{
    transform: rotateZ(90deg) translate(-50%, -50%);
    left: 1070px;
    top: -635px;
    }
    60%{
    transform: rotateZ(-25deg) translate(-50%, -50%);
    top: 200px;
    left: 352px;
    top: 28vh;
    left: 58vh;
    }
    100%{
    transform: rotateZ(0deg) translate(-50%, -50%);
    top: 0px;
    left: 0px
    } */
}

@keyframes animacion_salida_mercado {
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        width: 800px;
        height: 600px;
        opacity: 1;
    }
    to{
        transform: rotateX(45deg) rotateY(270deg) rotateZ(110deg);
        width: 1800px;
        height: 1350px;
        /* display: none; */
        /* font-display: none; */
        opacity: 0.2;
        

    }


}

@keyframes salida_eprincipal{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
    }
}
@keyframes entrada_eprincipal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.ocultando{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.oculto{
    display: none;
}


